@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #fff;
        --primary: #182452;
        --text: #121212;
        --disabled: #868686;
        --red: #c11919;
        --orange: #ff7312;
        --ternary: #fff6f0;
    }
}
